.messages {
    padding-bottom: 80px;
    height: 100%;
}

.drawer-wrapper {
    position: relative;
}

.ant-input-group.send-input {
    position: absolute;
    bottom: 32px;
}

.my-message {
    text-align: right;
}

.msg-item {
    background: #ccc;
    color: #222;
}

.my-message .msg-item {
    background: rgb(142, 226, 142);
    padding: 8px 15px;
    border-radius: 8px;
}

.conversation-item {
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: 32px auto;
}

.conversation-item button {
    margin-top: 15px;
}

.conversation-item .nft-btns button {
    margin-left: 15px;
    width: 215px;
    height: 36px;
}

.conversation-item .nft-btns {
    padding-top: 20px;
}

.conversation-item img {
    width: 64px;
    border-radius: 32px;
    margin-right: 15px;
}