.App {
  text-align: center;
  padding-left: calc(100vw - 100%);
}

.linkTitle {
  font-size: 17px;
}

.footer {
  text-align: center;
  margin: 88px auto 0 auto;
  line-height: 32px;
  padding-bottom: 32px;
  max-width: 600px;
}

.footer img {
  height: 32px;
}